<h1 class ="text-center m-5 custom-title">Connexion</h1>


<div class="card custom-card-bg text-white m-5 p-5">
  <%= form_with url: session_path, data: { turbo: false }, local: true do |form| %>
    <div>
      <%= form.label :email, "Adresse email", class: "form-label" %>
      <%= form.text_field :email, class: "form-control", placeholder: "Entrez votre email" %>
    </div>

    <div class="mt-2">
      <%= form.label :password, "Mot de passe", class: "form-label" %>
      <%= form.password_field :password, class: "form-control", placeholder: "Entrez votre mot de passe" %>
    </div>

    <div class="form-check mt-2">
      <%= form.check_box :remember_me, {}, "1", "0" %>
      <%= form.label :remember_me, "Se souvenir de moi", class: "form-check-label" %>
    </div>

    <div>
      <%= form.submit "Se connecter", class: "mt-2 btn btn-light" %>
    </div>
  <% end %>
</div>