<h1 class="text-center m-5 custom-title">Modification du commentaire</h1>

<div class="card custom-card-bg text-white p-5">
  <%= form_with model: @comment, local: true do |form| %>
    <div class="form-group">
      <%= form.label :content, "Contenu" %>
      <%= form.text_field :content, class: "form-control" %>
      <br>
    </div>

    <%= form.submit "Sauvegarder", class: "btn btn-light mt-2" %>
  <% end %>
</div>


<%= form_with url: comment_path(@comment), method: :delete, local: true, data: { confirm: "Es-tu sûr(e) ?" } do %>
  <%= hidden_field_tag :_method, :delete %>
  <%= submit_tag "Supprimer ce potin", class: "btn btn-danger mt-4" %>
<% end %>