<h1>Profil de <%= @user.first_name %> <%= @user.last_name %></h1>

<p><strong>Description :</strong> <%= @user.description %></p>
<p><strong>Email :</strong> <%= @user.email %></p>
<p><strong>Âge :</strong> <%= @user.age %> ans</p>
<p><strong>Ville :</strong> <%= @user.city.name if @user.city %></p>

<h2>Potins publiés par <%= @user.first_name %> :</h2>
<ul>
  <% @user.gossips.each do |gossip| %>
    <li><%= link_to gossip.title, gossip_path(gossip) %></li>
  <% end %>
</ul>