<div class="row">
  <div class="col-12">
    <h1 class="text-center m-5 custom-title">Voici l'ensemble des potins disponibles.</h1>
  </div>
</div>

<%= link_to "Créer un nouveau gossip", new_gossip_path, class: "btn btn-light mb-4" %>

<div class="row">
  <% @gossips.each do |gossip| %>
    <div class="col-md-4 mb-4">
      <div class="card h-100 custom-card-bg text-white">
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text">
            <strong>Par :</strong> <%= gossip.user.first_name %>
          </p>
          <p class="card-text">
            <%= truncate(gossip.content, length: 100) %>
          </p>
        </div>
        <div class="card-footer">
          <p><small>Commentaires : <%= gossip.comments.count %></small></p>
          <%= link_to "Voir plus", gossip_path(gossip), class: "btn btn-light" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
