<div class="row justify-content-center">
  <div class="col-md-8">

    <div class="mb-3">
      <%= link_to "← Retour aux potins", root_path, class: "btn btn-secondary" %>
    </div>


    <div class="card custom-card-bg text-white">
      <div class="card-header">
        <h1><%= @gossip.title %></h1>
      </div>
      <div class="card-body">

        <div class="border-bottom pb-3 mb-3">
          <h5>Auteur</h5>
          <p>
            <%= link_to user_path(@gossip.user.id), class: "text-decoration-none custom-links" do %>
              <strong><%= @gossip.user.first_name %> <%= @gossip.user.last_name %></strong>
            <% end %>
          </p>
          <small class="text-muted">
            <%= link_to @gossip.user.city.name, city_path(@gossip.user.city) %> (<%= @gossip.user.city.zip_code %>)
          </small>
        </div>


        <div class="mb-3">
          <h5>Le potin</h5>
          <p><%= simple_format(@gossip.content) %></p>
        </div>


        <div class="text-muted">
          <small>Publié le <%= @gossip.created_at.strftime("%d/%m/%Y à %H:%M") %></small>
        </div>
      </div>
    </div>
  </div>
</div>
