<h1 class="text-center m-5 custom-title">Les potins de <%= @city.name %></h1>



<div class="row justify-content-center">
  <% @gossips.each do |gossip| %>
    <div class="col-md-8 mb-4">
      <div class="card custom-card-bg text-white">
        <div class="card-header">
          <h3><%= link_to gossip.title, gossip_path(gossip), class: "custom-links text-white text-decoration-none" %></h3>
        </div>
        <div class="card-body">

          <h5>Auteur</h5>
          <p>
            <%= link_to user_path(gossip.user.id), class: "text-decoration-none custom-links" do %>
              <strong><%= gossip.user.first_name %> <%= gossip.user.last_name %></strong>
            <% end %>
          </p>
          <small class="text-muted">
            <%= link_to gossip.user.city.name, city_path(gossip.user.city), class: "custom-links" %> 
            (<%= gossip.user.city.zip_code %>)
          </small>

          <div class="my-3">
            <h6>Extrait du potin :</h6>
            <p><%= truncate(gossip.content, length: 150) %></p>
          </div>

          <div class="d-flex flex-wrap gap-2 mt-3 mb-2">
            <% gossip.tags.each do |tag| %>
              <span><%= tag.title %></span>
            <% end %>
          </div>

          <div class="d-flex align-items-center gap-3">
            <% if logged_in? %>
              <% if gossip.likes.exists?(user: current_user) %>
                <%= button_to "💔", gossip_like_path(gossip, gossip.likes.find_by(user: current_user)), method: :delete, class: "btn btn-sm btn-light" %>
              <% else %>
                <%= button_to "💙", gossip_likes_path(gossip), method: :post, class: "btn btn-sm btn-light" %>
              <% end %>
            <% end %>

            <span><small>Likes : <%= gossip.likes.count %></small></span>
            <span><small>Commentaires : <%= gossip.comments.count %></small></span>
          </div>

          <div class="text-muted mt-2">
            <small>Publié le <%= gossip.created_at.strftime("%d/%m/%Y à %H:%M") %></small>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>